@import url("https://fonts.googleapis.com/css2?family=Antic&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Brush Script";
  src: url(../font/brushscriptregular.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
:root {
  --color: #000;
  --terciary-color: #653565;
}
body {
  font-family: "Antic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.img-logo {
  width: 120px;
  height: 120px;
}
.bi {
  color: var(--terciary-color);
}

/* #hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
} */
#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.084), rgba(0, 0, 0, 0.8));
  z-index: 1;
}
/* .overlay:hover {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.084), rgba(0, 0, 0, 0.8));
  z-index: 1;
} */

#hero-content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.hero-text {
  opacity: 0;
}
.hero-text.animation {
  opacity: 1;
  transition: opacity 2s ease-in;
}
.titulo-hero {
  font-family: "Brush Script", serif;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
/* ====================================================== */
.team {
  position: relative;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -40px;
  position: fixed;
  z-index: 999;
  right: 50px;
  top: 2.5rem;
  background-color: var(--terciary-color);
  width: 60px;
  padding: 1.5rem;
  border-radius: 100%;
  -webkit-box-shadow: 1px 2px 9px 1px #000000;
  box-shadow: 1px 2px 9px 1px #000000;
  cursor: pointer;
}

.profissionais {
  width: 300px;
}

.content-equipe {
  border: 1px solid var(--color);
  border-radius: 1rem;
  padding: 2rem;
  -webkit-box-shadow: 1px 2px 9px 1px #000000;
  box-shadow: 1px 2px 9px 1px #000000;
}

.img-equipe {
  width: 100%;

  border: 3px solid var(--terciary-color);
}
.box-content {
  overflow: hidden;
}
.content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  opacity: 0.9;
}
.content-img:hover {
  transform: scale(1.2); /* Cresce por dentro */
  opacity: 1;
}
.titulos::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background-color: var(--terciary-color);
  margin-right: 10px;
}

.ativo {
  background-color: var(--terciary-color);
  color: white;
}
h3::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background-color: var(--terciary-color);
  margin-right: 10px;
}
